<mat-toolbar class="toolbar">
 
  <span>PRESTAMOS</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-card class="example-card" >
  <mat-card-title>BANCO</mat-card-title>
  <mat-card-content>
    <h1>100,000,000</h1>
    <p></p>
  </mat-card-content>
  <mat-divider inset></mat-divider>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
 
<div class="contenedor">
  <mat-tab-group mat-align-tabs="center">
   <mat-tab (click)="toggleEditor('listado')" label="SOLICITUDES">
     <app-listado *ngIf="muestraListado"></app-listado>
   </mat-tab>
   <mat-tab label="REGISTRO">
     <app-registro ></app-registro>
   </mat-tab>
</mat-tab-group>
 
 <!--<nav style="margin-top: 100px">
   <a (click)="toggleEditor('listado')">Listado de solicitudes</a>
   <a (click)="toggleEditor('registro')">Registro</a>
 </nav>-->
 
 
 
 </div>
 <router-outlet></router-outlet>
 